<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="ProcessesDetails">
      <div class="container-fluid">
          <div class="row m-0">
            <div class="col-md-1">
              <button class="sidebar-button" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div class="col-md-6">
             <div class="inner-use d-flex pt-2 pb-2">
              <a><img src="../assets/logo/logo-main.jpg"></a>
              <div class="dropdown header-select">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Organization
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
             </div>
            </div>
            <div class="col-md-5 text-right">
              <ul class="list-unstyled ">
                <li><span class="material-icons">
                  help_outline
                  </span></li>
                  <li><span class="material-icons">
                    notifications_none
                    </span>
                  </li>
                <li><a><img class="rounded-circle" src="../assets/images/avatar.jpg"></a></li>
              </ul>
            </div>
          </div>
      
      </div>
      <div class="process-section">
        <div class="container-fluid">
          <div class="inner-container">
          <h1>Automation Page</h1>

<div class="inner-section">
  <div class="first-section d-flex">
<div class="process-catalog">
    <ul class="list-unstyled d-flex m-0">
      <li><a href=""></a>Process Catalog</li>
      <li><span class="material-icons">
        keyboard_arrow_right
        </span></li>
        <li class="account-payable">Account Payable | P085</li>
    </ul>
</div>
<div class="process-catalog-navbar d-flex">
  <div class="share-process">
  <span class="material-icons">
    share
    </span>
    <h4>Share process</h4>
</div>
<div class="user-account">
  <ul class="list-unstyled d-flex ml-2 ">
    <li>
<a href=""><i class="fa fa-user-circle" aria-hidden="true"></i></a>
    </li>
    <li >
      <a href="" style="background-color: #115ce4">kw</a>
          </li>
          <li>
            <a href="" style="background-color: #311c84">kw</a>
                </li>
                <li >
                  <a href="" style="background-color: #ca004a">kw</a>
                      </li>
  </ul>
</div>

</div>
</div>
<div class="description position-relative" >
<h2>Description</h2>
<p>
  What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
</p>
<i class="fa fa-pencil-square-o position-absolute" aria-hidden="true"></i>

</div>
<hr>
<div class="progress-division d-flex">
<div class="Deparment d-flex">
  <div class="fulfil-requirment ">
    <small>Deparment:</small>
    <h4>Fulfillment</h4>
  </div>
  <div class="icon">
    <i class="fa fa-link" aria-hidden="true"></i>
  </div>
</div>
<div class="Deparment d-flex">
  <div class="fulfil-requirment ">
    <small>status:</small>
    <h4 class="progress">In progress</h4>
  </div>
  <div class="icon">
    <i class="fa fa-spinner" aria-hidden="true"></i>
  </div>
</div>
<div class="Deparment d-flex">
  <div class="fulfil-requirment ">
    <small>owner:</small>
    <h4>Robert Booth</h4>
  </div>
  <div class="icon">
    <i class="fa fa-user-o" aria-hidden="true"></i>
  </div>
</div>
<div class="Deparment d-flex">
  <div class="fulfil-requirment ">
    <small>piroty:</small>
    <h4>High</h4>
  </div>
  <div class="icon">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
  </div>
</div>
</div>
<hr>
<div class="Result-division">
<div class="row m-0">
  <div class="col-md-6 border">
    <h2>Assesment Result</h2>
      <div class="row">

      <div class="col-md-6">
      
        <div class="assusment-result-data d-flex">
          <div class="left-data">
         <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Feasilty Score
        </div>
        <div class="right-data">
          94
        </div>
        </div>
          <div class="assusment-result-data d-flex">
            <div class="left-data">
              <i class="fa fa-recycle" aria-hidden="true"></i> Ease of implemation
          </div>
          <div class="right-data">
            78
          </div>
          </div>
          <div class="assusment-result-data d-flex">
            <div class="left-data">
              <i class="fa fa-line-chart" aria-hidden="true"></i> Throughout Increse
          </div>
          <div class="right-data">
            250 Txs
          </div>
          </div>
    </div>
    <div class="col-md-6">
     
      <div class="assusment-result-data d-flex">
        <div class="left-data">
          <i class="fa fa-usd" aria-hidden="true"></i> Saving
      </div>
      <div class="right-data">
      $00000
      </div>
      </div>
      <div class="assusment-result-data d-flex">
        <div class="left-data">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error Reductio
      </div>
      <div class="right-data">
      Low
      </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Real-time Diagonstics</h2>
   <div class="row m-0">
     <div class="col-md-6">
      <div class="assusment-result-data d-flex">
        <div class="left-data">
      Feasilty Score
      </div>
      <div class="right-data">
        94
      </div>
      </div>
        <div class="assusment-result-data d-flex">
          <div class="left-data">
            Ease of implemation
        </div>
        <div class="right-data">
          78
        </div>
        </div>
        <div class="assusment-result-data d-flex">
          <div class="left-data">
            Throughout Increse
        </div>
        <div class="right-data">
          250 Txs
        </div>
        </div>
     </div>
     <div class="col-md-6">
      <div class="assusment-result-data d-flex">
        <div class="left-data">
         Saving
      </div>
      <div class="right-data">
      $00000
      </div>
      </div>
      <div class="assusment-result-data d-flex">
        <div class="left-data">
         Error Reductio
      </div>
      <div class="right-data">
      Low
      </div>
      </div>
     </div>
   </div>
  </div>

</div>
</div>
<hr>
</div>   
<div class="seconed-section mt-3">
  <h2>Process Detail</h2>
  <div class="bussiness-drive position-relative p-2">
    <h3>Bussiness Drive</h3>
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <div class="reduce-cost p-2">
          <small>Reduce Cost</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>$532,264</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
  
        <div class="reduce-cost improve-quality p-2">
          <small>Reduce Cost</small>
         
        
        <div class="reduce-icon   d-flex">
          <h4>125/Day</h4>
          <span class="material-icons">
            settings_backup_restore
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost increse-producity p-2">
          <small>increse-producit</small>
         
        
        <div class="reduce-icon   d-flex">
          <h4>120</h4>
          <span class="material-icons">
            settings_input_svideo
            </span>
        </div>
        </div>
      </div>
      <i _ngcontent-uyw-c0="" aria-hidden="true" class="fa fa-pencil-square-o position-absolute"></i>
    </div>
  </div>
  <div class="bussiness-drive position-relative p-2 mt-3">
    <h3>Process Matrics</h3>
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <div class="reduce-cost  p-2">
          <small>Process Excution Frquently</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>Daily</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost p-2 improve-quality">
          <small>Incoming Task/caves Volumes</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>125/Days</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost p-2 increse-producity">
          <small>Workers Assigment Process</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>04<small class="utilization">(50% Utilization)</small>
          </h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost p-2">
          <small>Annual cost of worker</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>$40k</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost improve-quality p-2">
          <small>Time to complete task (avg)</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>05 Mins</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
      <div class="col-md-2 p-0">
        <div class="reduce-cost increse-producity p-2">
          <small>Time spend on human commination</small>
         
        
        <div class="reduce-icon d-flex">
          <h4>$532,264</h4>
          <span class="material-icons">
            settings
            </span>
        </div>
        </div>
      </div>
    
      <i _ngcontent-uyw-c0="" aria-hidden="true" class="fa fa-pencil-square-o position-absolute"></i>
    </div>
  </div>
  <div class="bussiness-drive position-relative p-2 mt-3">
    <h3>Operational Detail</h3>
    <div class="row m-0">
      <div class="col-md-6">
        <h4 class="Operational-assumption-heading">Operational Assumption</h4>
        <div class="operational-assumption">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="operational-assumption mt-2 mb-2">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h4 class="dependies">Operational Dependies</h4>
        <div class="operational-assumption">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="operational-assumption mt-2">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="Operational-constrains">Operational constrains</h4>
        <div class="operational-assumption color-change">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="operational-assumption color-change mt-2 mb-2">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h4 class="risks">Operational risks</h4>
        <div class="operational-assumption seconed-color-change   ">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="operational-assumption seconed-color-change   mt-2">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <i _ngcontent-uyw-c0="" aria-hidden="true" class="fa fa-pencil-square-o position-absolute"></i>
  </div>
  <div class="bussiness-drive position-relative p-2 mt-3">
    <h3>Scope Detail</h3>
    <div class="row m-0">
      <div class="col-md-6">
        <h4 class="dependies">In scope Functionality</h4>
        <div class="operational-assumption  ">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="operational-assumption mt-2 mb-2">
          All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        </div>
        <div class="col-md-6">
          <h4 class="Operational-constrains">Out of source Dependies</h4>
          <div class="operational-assumption color-change">
            All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="operational-assumption color-change mt-2 mb-2">
            All Credational will b vaild and updated for each appliation <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          </div>
    </div>
    </div>
    <div class="bussiness-drive position-relative  p-2 mt-3">
      <h3>Data & Application</h3>
      
      <div class="row m-0">
        <div class="col-md-3 credationl-box">
          <div class="row">
<div class="col-md-4">
  <div class="circle-data">
    SAP
  </div>
</div>
<div class="col-md-8">
<ul class="list-unstyled">
  <li>2FA Nedded</li>
  <li>Minor Changes</li>
  <li><small>Autor:</small>Robert Hood</li>
</ul>
</div>
<div class="col-md-12">
  <p class="comments">
    <span>   comments:</span>
          Dummy data,Dummy data,Dummy data,Dummy data</p>
</div>
</div>
        </div>
        <div class="col-md-3 credationl-box">
          <div class="row">
<div class="col-md-4">
  <div class="circle-data">
    SAP
  </div>
</div>
<div class="col-md-8">
<ul class="list-unstyled">
  <li>2FA Nedded</li>
  <li>Minor Changes</li>
  <li><small>Autor:</small>Robert Hood</li>
</ul>
</div>
<div class="col-md-12">
  <p class="comments">
    <p class="comments">
      <span>   comments:</span>
            Dummy data,Dummy data,Dummy data,Dummy data</p>
</div>
</div>
        </div>
        <div class="col-md-3 credationl-box">
          <div class="row">
<div class="col-md-4">
  <div class="circle-data">
    SAP
  </div>
</div>
<div class="col-md-8">
<ul class="list-unstyled">
  <li>2FA Nedded</li>
  <li>Minor Changes</li>
  <li><small>Autor:</small>Robert Hood</li>
</ul>
</div>
<div class="col-md-12">
  <p class="comments">
 <span>   comments:</span>
       Dummy data,Dummy data,Dummy data,Dummy data</p>
</div>
</div>
        </div>
      </div>
      <i _ngcontent-uyw-c0="" aria-hidden="true" class="fa fa-pencil-square-o position-absolute"></i>
      </div>
      <div class="bussiness-drive position-relative p-2 mt-3">
        <h3>Process Flow Gallary (6 process)</h3>
    <div class="process-Division d-flex">
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram1</h6>
      </div>
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram2</h6>
      </div>
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram3</h6>
      </div>
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram4</h6>
      </div>
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram5</h6>
      </div>
      <div class="process-box">
        <div class="flow-diagram">
          <img src="../assets/images/Microsoft_Word_logo.png">
        </div>
        <h6 class="text-center">Flow Diagram6</h6>
      </div>
    </div>

        </div>
       

        </div>
        <div class="third-section mt-3">
          <div class=" p-2 mt-3">
            <h2>Solution Detail</h2>
            </div>
        </div>
        <div class="third-section mt-3">
          <div class=" p-2 mt-3">
            <h2>Solution Detail</h2>
            </div>
        </div>
        <div class="End-section p-4 mt-3">
          <div class="bussiness-drive position-relative p-2 mt-3">
            <h3>Documents</h3>
        <div class="process-Division d-flex">
          <div class="process-box">
            <div class="flow-diagram">
              <img src="../assets/images/Docs-icon.png">
            </div>
            <h6 class="text-center">Process Doc 1</h6>
          </div>
          <div class="process-box">
            <div class="flow-diagram">
              <img src="../assets/images/Docs-icon.png">
            </div>
            <h6 class="text-center">Process Doc 2</h6>
          </div>
          <div class="process-box">
            <div class="flow-diagram">
              <img src="../assets/images/download.png">
            </div>
            <h6 class="text-center">Process Flow</h6>
          </div>
          <div class="process-box">
            <div class="flow-diagram">
              <img src="../assets/images/Microsoft_Word_logo.png">
            </div>
            <h6 class="text-center">Process Doc 3</h6>
          </div>
          <div class="process-box">
            <div class="flow-diagram">
              <img src="../assets/images/Microsoft_Word_logo.png">
            </div>
            <h6 class="text-center">Process Doc 3</h6>
          </div>
        
        </div>
    
    </div>
    <div class="comments-div mt-3">
    <h2>Comments:</h2>
    <small>Enter Your Comments:</small>
    <div class="input div d-flex">
      <div class="name">
        <span>Rb</span>
      </div>
      <div class="input">
        <div class="input-group">
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <button type="button" class="btn btn-primary input-button">Post</button>
            </div>
            <div class="comments-show-div d-flex">
              <div class="name">
                Ali
              </div>
              <p class="pr-2 pl-2">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to</p>
            </div>
          </div>
        </div>

</div>   
</div>
      </div> 
      <div class="w-100">

      </div>  
  </section>

</body>
</html>

